<button type="button" (click)="addCourse()" class="btn-primary mt-4 ml-2">Add Course</button>

<table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.id}}</td>
        <td>{{course.name}}</td>
        <td>
          <i class="fa fa-pencil" (click)="editCourse(course)" title="Edit"></i>
          <i class="fa fa-trash ml-2" (click)="deleteCourse(course)" title="Delete"></i>
        </td>
      </tr>
    </tbody>
  </table>