<div class="modal-header">
    <h4 class="modal-title">Rate {{professor.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <label for="sel1">Select rating:</label>
          <select [(ngModel)]="review.rating" class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
    <div class="form-group mt-3">
      <label for="description">Description:</label>
      <input type="text" [(ngModel)]="review.description" class="form-control" id="description">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="rateProfessor(review)">Ok</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>