<button type="button" (click)="addClass()" class="btn-primary mt-4 ml-2">Add Class</button>

<table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of classes">
        <td>{{class.id}}</td>
        <td>{{class.name}}</td>
        <td>
          <i class="fa fa-plus ml-2" (click)="addProfessor(class)" title="Add Professor"></i>
        </td>
      </tr>
    </tbody>
  </table>