<div class="modal-header">
  <h4 class="modal-title">Add Course</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="course.name" class="form-control" id="name">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="execute(course)">{{buttonName}}</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>