<h1>{{className}}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Average Rating</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professors">
      <td>{{professor.name}}</td>
      <td>{{professor.rating}}</td>
      <td><i class="fa fa-star" (click)="rateProfessor(professor)" 
        data-tooggle="tooltip" 
        title="Rate professor"></i>
        <i class="fa fa-eye" (click)="viewReviews(professor)" 
        data-tooggle="tooltip" 
        title="View reviews"></i>
      </td>
    </tr>
  </tbody>
</table>
