<div class="modal-header">
  <h4 class="modal-title">Add Professor</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="professor.name" class="form-control" id="name">
    <div [hidden]="!isError" class="error-message">Invalid Professor</div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="execute(professor)">{{buttonName}}</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>