<h3 class="mt-3 mb-3">Available classes</h3>

<ul class="list-group">
  <li class="list-group-item list-group-item-action" (click)="goToProfessors(class.id)" 
    *ngFor="let class of classes">{{class.name}}</li>
</ul>