<div class="modal-header">
  <h4 class="modal-title">Add Class</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="typeahead-basic">Course:</label>
    <input id="typeahead-basic" type="text" 
    class="form-control" 
    [resultTemplate]="rt"
    [inputFormatter]="formatter"
    [(ngModel)]="classObj.name" [ngbTypeahead]="search"/>
    <div [hidden]="!isError" class="error-message">Invalid Course</div>

    <ng-template #rt let-course="result" let-t="term">
      {{course.name}}
    </ng-template>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addClass(classObj)">Add Class</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>