<div class="modal-header">
    <h4 class="modal-title">Delete Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Are you sure to delete this course? </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteCourse()">Yes I'm sure</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  </div>