<div class="modal-header">
  <h4 class="modal-title">Reviews</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Rating</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of reviews">
            <td>{{review.rating}}</td>
            <td>{{review.description}}</td>
          </tr>
        </tbody>
      </table>
</div>