<button type="button" (click)="addProfessor()" class="btn-primary mt-4 ml-2">Add Professor</button>

<table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professors">
        <td>{{professor.id}}</td>
        <td>{{professor.name}}</td>
        <td>
          <i class="fa fa-pencil" (click)="editProfessor(professor)" title="Edit"></i>
          <i class="fa fa-trash ml-2" (click)="deleteProfessor(professor)" title="Delete"></i>
        </td>
      </tr>
    </tbody>
  </table>